apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: metallb:speaker
  labels:
    app.kubernetes.io/name: metallb
    app.kubernetes.io/instance: metallb
subjects:
  - kind: ServiceAccount
    name: metallb-speaker
    namespace: {{ .Release.Namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: metallb:speaker
